<div class="content">
		<!-- APP DETAILS -->
		<div class="wow fadeInUp content-card" style="margin-top: 0;">
     		<span class="text-subtitle" style="font-size: 2em; font-weight: 300; color: #333">Education</span>
			<br><br>
			<div>
				<!-- REPLACE WITH YOUR APP DETAILS ACCORDINGLY -->
					<div class="row">
						<div class="col-md-12">
							<span class="text-section-title">University of Georgia</span>
						</div>
					</div>
					<div class="text-description">2014 - Present</div>
					<div class="text-description">BA Theatre - 3.30 GPA</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							Organizations<br/>
							<ul>
								<li>Black Theatrical Ensemble- Technical Director</li>
								<li>Thalian Blackfriars- Member</li>
								<li>Dawgs- Member</li>
							</ul>
						</div>
					</div>
					<br/>
				<div class="row">
						<div class="col-md-12">
							<span class="text-section-title">Piedmont College</span>
						</div>
					</div>
					<div class="text-description">2012 - 2014</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							Organizations<br/>
							<ul>
								<li>Alpha Psi Omega (Theatre Honor Society)- Member</li>
							</ul>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							<span class="text-section-title">Related Courses</span><br/>
							<ul>
								<li>Introduction to Directing - Bill Gabelhausen - Piedmont College</li>				  	
								<li>Play Direction Lab	-		Ray Paolino 	-	University of Georgia</li>
								<li>Scene Painting 		-		Henry Johnson	- 	 Piedmont College</li>
								<li>Scenic Design		-		Henry Johnson	- 	 Piedmont College</li>
								<li>Costume Design		-		Tina Hantula	-	University of Georgia</li>
								<li>Applied Drama (Scene Shop)	-	Tina Hantula	-	University of Georgia</li>
							</ul>
						</div>
					</div>
			</div>	
     	</div>
	
			
</div>