
		<div class="content">	
			<!-- ICON, NAME AND DESCRIPTION -->
			<div class="wow fadeInUp content-card">
				<!-- REPLACE WITH YOUR APP URL -->
				<a href="YOUR_APP_URL_HERE">
					<paper-fab class="mobile-fab" icon="shop"></paper-fab>
				</a>
				
				<div class="icon-and-title-flex">
					<%= image_tag "cover-photo.jpg", class: 'appicon' %>
					<div class="title-container">
						<!-- REPLACE WITH YOUR APP NAME -->
						<span class="text-title">Heather Whitfield</span>
						<br><div class="intertext-padding"></div>
						<!-- REPLACE WITH YOUR DEV NAME -->
						<span class="text-subtitle">Director / Stage Manager</span>
						<br><div class="intertext-padding"></div>
						<!-- REPLACE WITH YOUR APP PRICE -->
						<br/> <br/>
						<span class="nav text-subtitle">
								<a href="/resume">Resume</a> | 
								<a href="/education">Education</a> | 
								<a href="/experience">Experience</a> | 
								<a href="/portfolio">Portfolio</a> | 
								<a href="/references">References</a> | 
								<a href="/contact">Contact</a>
						</span>
					</div>	
				</div><br><br>
				<!-- REPLACE WITH YOUR APP DESCRIPTION -->
				<span class="text-description" style="font-size: 1.1em">
					I am an upcoming theatre professional who is graduating from the University of Georgia.
					 I have spent my time as an undergrad fully immersing myself into the world of technical theatre.
					  I am extremely versatile in the art of technical theatre with ranging jobs and abilities,
					   but my main focus has been stage management and directing.
					   As an individual who thrives on problem solving and working with others
					    to complete the bigger picture I have found my skills are greatly utilized as a
					     stage manager and director.Thank you for taking time to view my page, and please contact me with any questions. 
				</span>
			</div>
			
			
			
		
	
		</div>
			
			
