<div class="content">
			
			

		<!-- APP DETAILS -->
		<div class="wow fadeInUp content-card" style="margin-top: 0;">
     		<span class="text-subtitle" style="font-size: 2em; font-weight: 300; color: #333">Portfolio</span>
			<br><br>
			<div>
				<div class="row">
					<div class="col-md-12 text-section-title">Stage Manager Prompt Book</div>
				</div>
				<div class="row">
					<div class="col-md-12">Charlotte's Web</div> 
				</div>
				<div class="row">
					<div class="col-md-12 port-img"><%=image_tag('portfolio/portfolio-sm.jpg')%></div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-12 text-section-title">Director Prompt Script Blocking</div>
				</div>
				<div class="row">
					<div class="col-md-12">Call of the Revolution</div> 
				</div>
				<div class="row">
					<div class="col-md-12 port-img"><%=image_tag('portfolio/portfolio-blocking.jpg')%></div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-12 text-section-title">Director Prompt Script Beats/Blocking</div>
				</div>
				<div class="row">
					<div class="col-md-12">Call of the Revolution</div> 
				</div>
				<div class="row">
					<div class="col-md-12 port-img"><%=image_tag('portfolio/portfolio-beats.jpg')%></div>
				</div>
				<br/>
			</div>	
     	</div>
		
		
			
</div>