<div class="content">
		<!-- APP DETAILS -->
		<div class="wow fadeInUp content-card" style="margin-top: 0;">
     		<span class="text-subtitle" style="font-size: 2em; font-weight: 300; color: #333"><a href="/recommendations" style="text-decoration: underline">View Letters of Recommendations</a></span>	
     	</div>
		<br/> <br/>
		<div class="wow fadeInUp content-card" style="margin-top: 0;">
     		<span class="text-subtitle" style="font-size: 2em; font-weight: 300; color: #333">References</span>
			<br><br>
			<div>
				<div class="row">
					<div class="col-md-12 text-section-title">Geoffrey Douglas:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: Director for Dryland, a show I stage managed.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Number: 706-577-1300</div><div class="col-md-3">Email: geoffreyaarondouglas@gmail.com</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12 text-section-title">Dillon Nelson:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: He was the director for Chalotte’s Web that I stage managed for Rose of Athens.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Number: 706-892-9751</div><div class="col-md-3">Email: dillon.m.nelson@gmail.com</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12 text-section-title">Sondra McCoy:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: Works for Rose of Athens Theatre as publicity, and worked closely with me while I stage managed Charlotte’s Web.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Number: 770-363-8025</div><div class="col-md-3">Email: Sondradmccoy@windstream.net</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12 text-section-title">Bill Gabelhausen:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: Head of the Piedmont College Theatre department, and I worked on many shows while under him.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Number: 706-338-0978</div><div class="col-md-3">Email: wgabelhausen@piedmont.edu</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12 text-section-title">Audrey Alexander:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: Manager at Whits Inn Hotel where I have worked since 2008.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Cell Number: 678-873-1006</div><div class="col-md-3">Work Number: 770-466-0600</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12 text-section-title">Danielle Bailey Miller:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: Production manager for the Rose of Athens Theatre. We worked together while I stage managed Charlotte’s Web.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Number: 706-340-9181</div><div class="col-md-3">Email: danielle@roseofathens.org</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12 text-section-title">Natasha Prater:</div>
				</div>
				<div class="row">
					<div class="col-md-12">Association: My high school drama teacher who taught me for two years and let me assist in class my senior year of high school.</div> 
				</div>
				<div class="row">
					<div class="col-md-2">Number: 678-936-4839	</div><div class="col-md-3">Email: natasha.prater@walton.k12.ga.us</div>
     			</div>
     		</div>
     	</div>
	
			
</div>